/* layout */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #324A5B;
}

.clearfix::after{
  content:'';
  clear: both;
  display: table;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  position: relative;
}

.w-70{
  width: 70%;
}

.w-60{
  width: 60%;
}

.w-50{
  width: 50%;
}

.w-40{
  width: 40%;
}

.w-30{
  width: 30%;
}

.w-25{
  width: 25%;
  min-height: 20px;
}

.float-left{
  display: inline-block;
  float: left;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FE775A;
  background-color: #FE775A;
  color: white;
}

.btn-big{
  padding: 18px 40px;
}

a{
  text-decoration: none;
  color: #324A5B;
}

.t-right{
  text-align: right;
}

.t-center{
  text-align: center;
}

ul{
  list-style: none;
  padding: 15px 0;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 38px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 18px;
  text-transform: uppercase;
}

.p-small{
  font-size: 14px;
  padding: 25px 0;
}

.p-medium{
  padding: 25px 0;
  line-height: 28px;
}

.box-jumbo a{
  line-height: 88px;
}

.box-jumbo{
  margin-top: 4%;
}

.box-shadow{
  background-color: white;
  box-shadow: 0px 0px 4px #627380;
}

.box-center{
  padding: 4% 0;
}
/* header */
header{
  margin-top: 80px;
}

header .container{
  min-width: 1200px;
}

/* header section fixed */
#header-section-fixed{
  width: 100%;
  height: 80px;
  background-color: #F4F9FD;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #627380;
}

#header-section-fixed .container{
  padding-top: 25px;
}

#header-section-fixed .box-left span:first-of-type{
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px solid #8A9397;
}

#header-section-fixed .box-right a:first-of-type{
  margin: 0 25px;
  background-color: white;
  color: #FE775A;
}

#header-section-fixed .box-right i:first-child{
  color: #07A6C0;
}


/* section nav  */
#header-section-nav{
  height: 80px;
  background-color: white;
}

#header-section-nav img{
  padding-top: 18px;
  height: 58px;
}

#header-section-nav ul li{
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

#header-section-nav i::before{
  padding-left: 10px;
}

/* section banner with big image */
#header-section-banner{
  height: 600px;
  background-color: #FFF4EF;
  background-image: url('../img/jumbotron.png');
  background-size: 1400px;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

/* and of header */
#header-section-and{
  width: 100%;
  height: 90px;
  background-color: #AFEBE4;
  border-top: 2px solid #33485B;
  border-bottom: 2px solid #33485B;
}

/* main section powerfull*/
#main-section-powerfull{
  background-color: #F4F9FD;
}

#main-section-powerfull ul li i{
  padding-right: 30px;
  color: #FE775A;
}

#main-section-powerfull .box-center>.box-shadow:nth-child(2){
  margin: 0 5%;
}

#main-section-powerfull img{
  display: block;
  margin: auto;
}

#main-section-powerfull .box-1{
  padding: 4% 14%;
}

#main-section-powerfull .box-1 .p-medium{
  padding-bottom: 0;
}

#main-section-powerfull .box-1 img{
  height: 190px;
}

#main-section-powerfull .box-2 img, #main-section-powerfull .box-3 img{
  height: 100px;
}

#main-section-powerfull .box-2.box-center{
  padding: 5%;
}

#main-section-powerfull .box-2 p{
  padding-right: 20%;
}

#main-section-powerfull .box-2 h4::after{
  content: '';
  display: inline-block;
  width: 70%;
  height: 4px;
  margin-left: 6%;
  border-top: 1px solid gray;
}

#main-section-powerfull .box-2 a{
  line-height: 115px;
}

#main-section-powerfull .box-2 ul li{
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
}

#main-section-powerfull .box-3 .box-shadow{
  padding: 20px 40px 40px;
  min-width: 260px;
}

#main-section-powerfull .box-3 .box-hub{
  min-height: 240px;
}

#main-section-powerfull .box-3 h3{
  padding-top: 25px;
}

#main-section-powerfull .box-3 h4::before{
  content: '';
  display: block;
  width: 90%;
  margin: 10% auto;
  border-bottom: 1px solid gray;
}

#main-section-powerfull .box-3 ul{
  padding: 8% 0 20%;
}

/* section-data */
#main-section-data{
  color: white;
  background-image: linear-gradient(to right, #00A6BB , #00BCA8);
  padding: 2% 0 5%;
}

#main-section-data .box-center{
  padding-bottom: 3%;
}

#main-section-data .box-center h2{
  width: 90%;
  margin: auto;
}

#main-section-data .w-25{
  padding: 14px 0 14px;
}

#main-section-data .w-25 h1 span{
  font-size: 30px;
  vertical-align: middle;
  font-weight: 400;
}

#main-section-data .w-25 .p-small{
  padding-top: 3%;
}

#main-section-data .raw-1{
  border-bottom: 1px solid white;
}

#main-section-data .w-25:nth-child(-n+3){
  border-right: 1px solid white;
}

/* section partnerships */

#main-section-partnerships .box-partners{
  padding: 5%;
}

#main-section-partnerships .box-partners .box-left{
  padding: 0 7%;
}

#main-section-partnerships .box-partners .box-left span{
  font-weight: 600;
}

#main-section-partnerships .box-partners .box-right{
  padding-left: 9%;
}

#main-section-partnerships .box-partners .box-right .raw{
  padding-top: 5%;
}

#main-section-partnerships .box-partners .box-right img{
  width: 140px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#main-section-partnerships .box-start img{
  height: 460px;
}

/* footer */
footer{
  background-color: #324A5B;
  color: white;
}

footer a{
  color: white;
}

#footer-section-links ul{
  margin-top: 8%;
}

#footer-section-links ul li:first-child{
  font-weight: 800;
}

#footer-section-links ul li{
  padding: 3% 0;
}

#footer-section-links .btn{
  color: #324A5B;
  background-color: white;
  border-color: white;
  line-height: 45px;
}

#footer-section-links ul li i{
  margin-right: 20px;
}

/* footer section languages */
#footer-section-languages .container{
  padding-top: 4%;
  border-bottom: 1px solid white;
}

/* footer-section-languages */
#footer-section-languages ul li{
  display: inline;
  padding-left: 30px;
}

/* footer-section-credits */
#footer-section-credits{
  height: 150px;  
}

#footer-section-credits .w-50{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#footer-section-credits .box-right a:first-of-type{
  padding-right: 30px;
}

